*{
    padding: 0;
    margin: 0;
    border: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    background-color: rgb(102, 156, 255);
    position: fixed;
    z-index: 999;
  
  }
  header h3 {
    margin: 10px 0;
    font-size: 20px;
    color: rgb(255, 255, 255);
  }
.conteiner{
   padding: 0 10%;
 }
.ocorrencia {
   margin: 80px 0 10px 0;
 }
.card {
   width: 95% ;
   padding: 10px;
   background-color: rgb(30, 238, 151);
   margin: 5px 0;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
   border: 2px solid rgba(0,0,0,.125);
   border-radius: .25rem;
 }
 .card h3 {
   font-weight: 600;
   font-size: 20px;
   margin-bottom: 5px;
   color: #000;
 }
 .card span {
   font-size: 20px;
   color: rgb(110, 109, 109);
 }