<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>crawler twitter</title>
</head>
<body>
  <header>
    <h3 class="logo" >Dados do twiter</h3>
  </header>

    <div class="conteiner">
        <div class="ocorrencia">
          <% dados.forEach(i => {%>
            <div class="card">
              <h3> <%= i.tweet %> </h3>
              <!-- <span> <%= i.language %></span> -->
            </div>
          <%}) %>
        </div>
    </div>
</body>
</html>